body{
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
  }
.box{
    text-align: center;
    background-color: white;
    margin: auto;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px ;

}
h2 {
    margin: 0; /* Remove default margin to prevent movement */
    padding-bottom: 20px; /* Space below heading */
}

.img{
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; 
    padding-left: 20px;
    

}


.myimg{
    background-color: white;
    border: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    
}
.myimg:hover{
    background-color: rgb(255, 255, 63);
    background-position: center;
    transition-duration: 2ms;
    transform: scale(1.1); /* Slightly scale up on hover */
}

#imgu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.result {
    font-size: 1em; /* Larger text for results */
    color: #333; 
}